* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header_nav {
  width: 97%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav_a {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 15px;
  margin-top: 20px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.808);;
  text-decoration: none; 
}

.main {
  height: 88vh;
  position: relative;
}

.main_div {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.main_logo {
  margin-bottom: 40px;
}

.main_form {
  border-radius: 100px;
  text-align: center;
}

.buttons {
  padding-top: 30px;
  text-align: center;
}

.bttn-1,
.bttn-2 {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.808);
  font-size: 15px;
  background-color: #f8f9fa;
  border: none;
  border-radius: 5px;
  padding-right: 20px 20px;
  display: inline-block;
}

.tekst {
  padding-top: 30px;
  text-align: center;
}

.google-tekst {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.english,
.frysk {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.english {
  padding-right: 10px;
  padding-left: 5px;
}

.footer_bovenste {
  display: block;
  background-color: rgba(0, 0, 0, 0.158);
  padding: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.footer_onderste {
  display: block;
  background-color: rgba(0, 0, 0, 0.158);
}

.footer_links {
  display: flex;
}

.footer_rechts {
  display: flex;
  justify-content: flex-end;
}

.links_tekst,
.rechts_tekst {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 15px;
}